__pycache__/
*.py[cod]
*$py.class
myenv/
venv/
build/
dist/
*.egg-info/
.vscode/
.idea/
brainboost_data_source_package.egg-info
data
*.log
.DS_Store
Thumbs.db
tests/data
contextsnapshots.db
context
snapshots.db
myenvbfg-1.15.0.jar
local.conf
.terraform/
.terraform/providers/registry.terraform.io/hashicorp/google/6.23.0/linux_amd64/terraform-provider-google_v6.23.0_x5
.terraform/providers/registry.terraform.io/hashicorp/google/6.23.0/linux_amd64/LICENSE.txt
terraform.tfstate.backup
terraform.tfstate
main_terraform_aws.tf_old
.terraform.lock.hcl
main_terraform_aws.tf_old