__pycache__/
*.py[cod]
*$py.class
myenv/
venv/
build/
dist/
*.egg-info/
.vscode/
.idea/
brainboost_data_source_package
brainboost_data_source_package.egg-info
data
*.log
.DS_Store
Thumbs.db
tests/data
contextsnapshots.db
context
snapshots.db
myenvbfg-1.15.0.jar
local.conf